echo "# Entorno virtual
BackEnd/env/
BackEnd/.env

# Archivos compilados de Python
**/__pycache__/
**/*.pyc

# Configuración sensible
BackEnd/conecta2_back/.env

# Node modules y lock
FrontEnd/node_modules/
FrontEnd/conecta2-front/package-lock.json" > .gitignore