@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.custom-popup{
    background-color: black !important;
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
}