.FormLogin{
    width: 30vw;
    height: 40vh;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #cae8ff;
    border-radius: 10px;
}
.inputLogin{
    background-color: #050a30;
    color: white;
}

.inputLogin::placeholder{
    color: white;
}

h1{
    color: #12229d;
}

.btn-login{
    background-color: #050a30;
    color: white;
}