.Navbar{
  background-color: #1E1E5A;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #a0c4ff; 
}

.sidebar-admin .cerrar-sesion:hover {
  color: #dc3545 !important; 
}


